body{
    background-color: slategray;
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        margin-top: 20vh!important;
    }

    .bodyBtns{
        width: 97%;
        margin: 2% 1%;
    }
}

.jumbotron {
    margin-top: 20vh;
    border-radius: 25px;
    background-color: #252525;
    -webkit-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);
}

.topDisplay{
    background-color: gray;
    color: greenyellow;
    width: 96%;
    margin: 0 2%;
    padding-left: 5px;
    -webkit-box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.bottomDisplay{
    background-color: gray;
    color: greenyellow;
    text-align: right;
    width: 96%;
    margin: 0 2%;
    padding-right: 5px;
    margin-bottom: 5vh;
    -webkit-box-shadow: inset 10px 0px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 0px 5px -8px rgba(0,0,0,0.75);
    box-shadow: inset 10px 0px 5px -8px rgba(0,0,0,0.75);
}

.btn{
    margin: 2%;
}

.btn-num{
    margin: 1% 1%;
    width: 22%!important;
    height: 5vh!important;
    max-width: 100%;
    padding: 0;
    background-color: #dfe1e5;
    color: #252525;
    border-radius: 25px;
    font-size: 1.5em;
}

.btn-num:hover{
    background-color: #aaacb1;
    color: #252525;
}

.btn-num:active{
    background-color: #aaacb1;
    color: #252525;
    -webkit-box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.btn-2num{
    margin: 1% 1%;
    width: 46.7%!important;
    height: 5vh!important;
    max-width: 100%;
    padding: 0;
    background-color: #96999e;
    color: white;
    border-radius: 25px;
    font-size: 1.5em;
}

.btn-2num:hover{
    background-color: #67696b;
    color: white;
}

.btn-2num:active{
    background-color: #67696b;
    color: white;
    -webkit-box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.opBtn{
    background-color:orange!important;
    font-weight: bolder;
    font-size: 1.7em;
    color: white;
}

.opBtn:hover{
    color: white!important;
}

.opBtn:active{
    color: white!important;
}

.bodyBtns{
    width: 98%;
    margin: 2% 2%;
    padding: 0;
}
